@page "/logout"
@inject NavigationManager navManager;

<h1>You've succcessfully logged out</h1>

@code {
    [CascadingParameter]
    public HttpContext HttpContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (HttpContext.User.Identity.IsAuthenticated)
        {
            await HttpContext.SignOutAsync();
        }

        navManager.NavigateTo("/login");
    }
}
