@page "/success"
@inject NavigationManager navManager;

<h1>Welcome!</h1>
<p>Welcome to Branko Rokov public library.<br />Redirecting. . .</p>



@code {

    protected override async Task OnInitializedAsync()
    {
        await Redirect();
    }

    private async Task Redirect()
    {
        await Task.Delay(TimeSpan.FromSeconds(2));
        navManager.NavigateTo("/");
    }
}
