
@inject IHomeService _homeService
<MudDialog>
    <DialogContent>
        <MudPaper Elevation="0" Class="p-4">
            <h2>Book Details:</h2>
            <MudDivider Class="mb-4"/>
            <div class="row">
                @foreach (var property in typeof(Book).GetProperties().Where(x => x.Name != "ID" && x.Name != "CheckedOutBy" && x.Name != "CoverPage"))
                {
                    <div class="col-md-6 mb-3">
                        <MudText Typo=Typo.h6>@property.Name</MudText>
                        <MudText Typo=Typo.subtitle1>@property.GetValue(_book)</MudText>
                    </div>
                }
            </div>
            <MudDivider Class="mb-4" />
            <MudButton @onclick="DeleteBook" Variant="Variant.Filled" Color="Color.Error">Delete Records</MudButton>
        </MudPaper>
    </DialogContent>
</MudDialog>
@code {
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = new();

    [Parameter]
    public Book _book { get; set; } = new Book();

    private async Task DeleteBook()
    {
        await _homeService.DeleteBook(_book.ID);
        MudDialog.Close(DialogResult.Ok(true));
    }
}
